@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/**********************Gælder for alt*********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p{
  color: rgba(206, 206, 206, 1);
  font-size: 28px;
  font-family: 'Libre Baskerville';
}

h3{
  color: #b1812e;
  font-size: 32px;
  font-family: 'Libre Baskerville';
}

h4{
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: 'Libre Baskerville';
}

/**********************Framen på hjemmesiden*********************/
.forside-container {
  max-width: 2000px;
  padding: 0 15px;
  margin: 0 auto; /*Klemmer ind fra siderne af så det bliver centret*/
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(15, 15, 15, 1);
}

/**********************Body*********************/
body {
  margin: 0;
  background-color: rgb(20, 20, 20);
}

/**********************Header*********************/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); /*Skal være 0.9*/
  z-index: 4;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1400px;
  margin: 0 auto;
}

header .logo {
  width: 335px;
  margin-right: 100px;
  margin-bottom: -90px;
  position: relative;
}

.dronebygger-logo{
  width: 330px;
}

header .logo:after {
  content: '';
  position:absolute;
  bottom: 0;
  width: calc(100% - 20px);
  height: 55px;
  background-color: rgba(0, 0, 0, 0.9); /*Skal være 0.9*/
  right: -10px;
  z-index: -1;
  border-radius: 0 0 15px 15px;
}

/*-------Nav-------*/
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 67px;

  list-style-type: none;
}

nav a {
  display: flex;

  text-decoration: none;
  color: white;
  font-size: 18px;

  font-family: "Roboto";
  transition: 0.4s;
}

nav a:hover{
  color: #b1812e;

}

nav #søgefelt {
  width: 23px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*100% af skærmens højte*/
}

/**********************Kort til forsiden**********************/
.fire-kort-sektion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;

  gap: 50px; /*Der er en 50px's afstand mellem kasserne*/
}

.fire-kort-sektion .kort {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 260px;
  width: 700px;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid #b1812e;

  text-decoration: none;
}

.fire-kort-sektion .kort h2 {
  display: flex;
  justify-content: center;

  width: 350px;

  font-size: 50px;
  font-style: normal;
  font-weight: 100; /*Skal være tynder end det */
  line-height: 75px;
  color: white;
  font-family: 'Roboto';

  text-shadow: 4px 4px rgba(0, 0, 0, 1);
}

.fire-kort-sektion .kort img {
  width: 140px;
}

/**********************Kort til Hardware siden*********************/
.to-kort-sektion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 50px; /*Der er en 50px's afstand mellem kasserne*/
}

.to-kort-sektion .kort {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 450px;
  width: 700px;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid #b1812e;

  text-decoration: none;

}

.kort{
  transition: 0.4s;
}

.kort:hover{
  scale: 1.05;
  
}

.to-kort-sektion .kort h2 {
  display: flex;
  justify-content: center;

  width: 100%;

  font-size: 50px;
  font-style: normal;
  font-weight: 100; /*Skal være tynder end det */
  line-height: 75px;
  color: white;
  font-family: 'Roboto';

  text-shadow: 4px 4px rgba(0, 0, 0, 1);
}

.to-kort-sektion .kort img {
  width: 180px;
  margin-bottom: 30px;
}

/*-------video-------*/
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;

  z-index: -1;
}

/**********************Opbygningen af en drone*********************/
.opbygning {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.opbygning h1 {
  text-align: center;
  width: 600px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600; /*Skal være tynder end det */
  text-shadow: 4px 4px rgba(0, 0, 0, 1);
  font-size: 75px;
  color: white;
}

.opbygning-video {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;

  position: relative; /*position: relative søger for at position: absoulte bliver inde i kassen når vi flytter rundt på ting*/

  width: 100%;
  z-index: 2;
}

/*-------overlay på videoen-------*/
.opbygning-video::after {
  content: ""; /*content skal være der ellers virker overlayet ikke*/
  position: absolute;

  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.opbygning-video h1 {
  z-index: 2;
  position: absolute; /*position: absoulte gør at noget ikke er solid mere*/
}

.artujek-et{
  display: flex;
  text-align: center;
  justify-content: center;
}

/*-------artikel 1 text-------*/
.artikel-et-text{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  line-height: 2;
}

#top-text{
  margin-top: 30px;
}

#bund-text{
  margin-bottom: 30px;
  width: 970px;
}

.artikel-et-text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*-------List-------*/
.liste-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}

.liste{
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 32px;
  color:white;
  font-family:'Roboto';
}

ul{
  list-style: none;
}

li{
  padding: 5px;
}

ul li::before {
  content: "\2022";
  color: #b1812e;
  width: 10px;
  margin-right: 18px;
  }

 /*-------2 billder-------*/ 
.billede{
  width: 350px;
}

/*-------Opbygningen accordion menu-------*/
.accordion {   
  background-color: rgba(15, 15, 15, 1);
  color: white;
  font-size: 32px;
  font-family: 'Roboto';
  width: 100%;

  cursor: pointer;
  padding: 8px;

  border: none;
  border-top: 1px solid rgba(206, 206, 206, 1);
  text-align: left;
  outline: none;

  transition: 0.4s;
}

.accordion.active{
  color: #b1812e;
}

.panel {
  background-color: rgba(15, 15, 15, 1);
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  width: 100%;

  transition: max-height 0.2s ease-out;
}

.dopdawn-accordion{
  width: 100%;
}

.accordion img{
  width: 20px;
  margin-right: 15px;
  margin-left: 40px;

  transition: 0.4s;
}

.accordion.active img{
  rotate: 180deg;
}

/*-------Frame accordoin menu-------*/
.artikel-to{
  display: flex;
  justify-content: space-around;
}

.frame-menu{
  width: 720px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.artikel-to-frame-billede{
  display: flex;
  align-items: center;
}

.artikel-to-frame-billede img{
  height: 500px;
  border-radius: 100px;
  border: 2px solid #B1812E;
}

/*-------Flight Controller accordoin menu-------*/
.artikel-tre{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 75px;
}

/*-------Top del af FC menuen-------*/
.fc-indhold-og-billede-et{
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.fc-tekst-et p{
  width: 780px;
  margin-bottom: 10px;
}

.fc-tekst-et h3{
  margin-top: 50px;
  margin-bottom: 30px;
}

.artikel-tre-fc-billede-et{
  display: flex;
  align-items: center;
}

.artikel-tre-fc-billede-et img{
  height: 500px;
  border-radius: 100px;
  background-color: aliceblue;
  border: 2px solid #B1812E;
}
/*-------Bund del af FC menuen-------*/
.fc-indhold-og-billede-to{
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.fc-tekst-to{
  display: flex;
  flex-direction: column;
}

.fc-tekst-to h3{
  margin-top: 50px;
  margin-bottom: 30px;
}

.fc-tekst-to li{
  color: rgba(206, 206, 206, 1);
  font-size: 28px;
  font-family: 'Libre Baskerville';
}

.artikel-tre-fc-billede-to{
  display: flex;
  align-items: flex-end;
}

.artikel-tre-fc-billede-to h3{
  margin-top: 50px;
  margin-bottom: 30px;
}

.artikel-tre-fc-billede-to img{
  height: 250px;
  border-radius: 100px;
  border: 2px solid #B1812E;
}

/*-------Propeller accordoin menu-------*/
.artikel-fire{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-left: 100px;
  padding-right: 100px;

  padding-top: 50px;
  padding-bottom: 50px;
}

.propeller-tekst h3{
  margin-top: 50px;
  margin-bottom: 30px;
}


/*-------Propeller 4 kort-------*/
.små-kort{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
}



.propeller-kort{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 350px;
  
  background-color: rgba(21, 21, 21, 1);
  border-radius: 25px;
  border: 2px solid #B1812E;
  
  transition: 1s;
}


.propeller-kort:hover{
  scale: 1.05;
  /* rotate: 2880deg; */
}

.afstads-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  height: 500px;
  width: 320px;
}

.propeller-kort img{
  height: 200px;
  width: 320px;

  border-radius: 25px;
}

.afstads-box p{
  color:rgba(150, 150, 150, 1);
  font-family: 'Roboto';
  font-size: 18px;
  height: 100px;
  width: 300px;
  line-height: 1.5;
}

/*-------Kort knap-------*/
.knap{
  display: flex;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  
  height: 45px;
  width: 150px;

  background-color: #B1812E;
  border-radius: 25px;

  text-decoration: none;

  transition: 0.4s;
}

.knap:hover{
  background-color: black;
}

.knap:hover h5 { 
  color: #b1812e
}

.knap h5{
  font-family:'Roboto';
  font-size: 18px;
  line-height: 32px;
  font-weight: 700px;
  color: #ffffff;
}

/*-------Tomme accordoin menuer-------*/
.tomt{
  display: flex;
  padding: 50px;

}

/**********************footer*********************/
footer{
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;

  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: #b1812e;

  /* border: 1px solid #B1812E; */
  /* border-top: 1px solid #B1812E; */

  border-bottom: rgba(15, 15, 15, 1);
}

footer p {
  font-size: 12px;
  font-family: "Libre Baskerville";

  color: white;
  margin-left: 100px;
}
