/*******Gælder for alt*******/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*******Framen på hjemmesiden*******/
/* .container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
} */

/*******Body*******/
body{
    margin: 0; 
    /* background-color: rgba(15, 15, 15, 1); */
    background-color:rgba(15, 15, 15, 1);
}

/*******Header*******/
header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    height: 90px;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /*Skal være 0.9*/

}

header .logo{
    width: 363px;
    margin-right: 100px;
}

/* header .header-ekstra-box{
    width: 334px;
    height: 57px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0px 0px 15px 15px;
    
} */


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 67px;

    list-style-type: none;

}

nav a{
    display: flex;

    text-decoration: none;
    color: white;
    font-size: 18px;

    font-family: 'Roboto';
}

nav #søgefelt{
    width: 23px;
}


/*******De 4 kort*******/
/* .cintainer{
    width: 100%;
    height: 100%;
    margin-top: 90px;

} */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 817px ;
    
    /* background-color: blanchedalmond; */
}

/**********************Kort til forsiden**********************/
.fire-kort-sektion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 50px; /*Der er en 50px's afstand mellem kasserne*/
}

 .fire-kort-sektion .kort{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    height: 260px;
    width: 700px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border: 1px solid #B1812E;

    text-decoration: none;
}

.fire-kort-sektion .kort h2{
    display: flex;
    justify-content: center;

    width: 350px;

    font-size: 50px;
    font-style: normal;
    font-weight: 100; /*Skal være tynder end det */
    line-height: 75px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto'; */

    text-shadow: 4px 4px rgba(0, 0, 0, 1);

}

.fire-kort-sektion .kort img{
    width: 140px;   
}
/**********************Kort til Hardware siden*********************/

.to-kort-sektion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 50px; /*Der er en 50px's afstand mellem kasserne*/
}

.to-kort-sektion .kort{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    height: 450px;
    width: 700px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border: 1px solid #B1812E;

    text-decoration: none;
}

.to-kort-sektion .kort h2{
    display: flex;
    justify-content: center;

    width: 100%;

    font-size: 50px;
    font-style: normal;
    font-weight: 100; /*Skal være tynder end det */
    line-height: 75px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto'; */

    text-shadow: 4px 4px rgba(0, 0, 0, 1);

}

.to-kort-sektion .kort img{
    width: 180px;   
    margin-bottom: 30px;
}

/*******video*******/
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    /* height: 100%; */
    z-index: -1;
  }
  
/*******footer*******/
footer{
    display: flex;
    align-items: center;

    width: 100%;
    height: 30px;

    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: #B1812E;

    /* border: 1px solid #B1812E; */
    /* border-top: 1px solid #B1812E; */

    border-bottom: rgba(15, 15, 15, 1);
}

footer p{
    font-size: 12px;
    font-family: 'Libre Baskerville';

    color: white;
    margin-left: 100px;
}